
.main {
  padding: 20px;
  word-break: normal;
}
.heading {
  font-size: 1.8em;
}
.section {
  margin-top: 30px;
}
.section h2 {
  font-size: 1.6em;
}
.section p, .section i {
  margin-top: 10px;
  font-size: 1.2em;
}
.section i {
  font-size: 1.1em;
}
