
.main {
  padding: 25px;
  word-break: normal;
}
.heading {
  font-size: 2.2em;
}
.section {
  margin-top: 30px;
}
.section h2 {
  font-size: 1.8em;
}
.section p, .section i {
  margin-top: 10px;
  font-size: 1.5em;
}
.section i {
  font-size: 1.3em;
}
